.auth-container {
    align-self: center;
    justify-self: center;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.8s ease-in-out;
    margin: auto;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.auth-title {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-bottom: 2px solid var(--berry);
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1rem;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 0.8rem;
    color: var(--berry);
}

.auth-btn {
    width: 100%;
    padding: 12px;
    background: var(--berry);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-btn:hover {
    background: #ff3b2f;
}

.auth-switch {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.auth-switch a {
    color: var(--berry);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.auth-switch a:hover {
    color: #860700
}

.error-message {
    color: #ff3b2f;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.9rem;
}